html,body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    text-align: center;
    box-sizing: border-box;
}
*{
    font-family: "Poppins", sans-serif;
}
